@font-face {
  font-family: 'GetVoIP Grotesque';
  src: url('GetVoIP Grotesque.eot');
  src: url('GetVoIP Grotesque.eot?#iefix') format('embedded-opentype'),
       url('GetVoIP Grotesque.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GetVoIPGrotesque';
  src: url('GetVoIPGrotesque.svg#GetVoIPGrotesque') format('svg'),
       url('GetVoIPGrotesque.ttf') format('truetype'),
       url('GetVoIPGrotesque.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

